/* components/TreeComponent.module.css */


.treeContainer {
  margin: 20px;
  width: 300px;
  caret-color: transparent;
  user-select: none;
  padding-left: 0px;
  margin-left:0px;
  margin-top: 10px;
  @apply bg-yellow-100;
}

.tree:first-child {
  list-style-type: none;
  padding-left: 0px;
}
.tree {
  list-style-type: none;
  padding-left: 20px;
}

.treeItem {
  margin-bottom: 5px;
  cursor: pointer; /* Add a pointer cursor for items with children */
}

/* Add more styles as needed */
.treeItem > span {
  padding-left: 10px;
}
/* .treeItem > span:hover {
  background-color: burlywood;
  display: block;
} */

.treeItem>span.active {
  @apply bg-yellow-950 text-yellow-100;
  display: block;
}


